html,
body {
  margin: 0;
}

#datamort {
  font-family: $roboto;

  position: relative;

  width: 100%;
  min-height: 100vh;

  letter-spacing: 1px;

  color: $white;
  background-color: $black;

  .saira {
    font-family: $saira;
  }
}

.highlighted {
  position: relative;
  z-index: 9999;

  &::after {
    position: absolute;
    z-index: -1;
    top: 65%;
    right: -10px;
    left: -10px;

    height: 12px;

    content: '';

    background-color: $red;
  }
}

a.link {
  font-family: $saira;
  font-size: 1.4em;

  display: inline-block;

  text-decoration: none;
  letter-spacing: 2px;

  color: $white;
}
