html,
body {
  margin: 0;
}

#datamort {
  font-family: $roboto;

  position: relative;

  width: 100%;
  min-height: 100vh;

  letter-spacing: 1px;

  color: $white;
  background-color: $black;

  .saira {
    font-family: $saira;
  }
}


// PARTIE FLEX

.flex-container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &.full-height {
    min-height: 100vh;
  }
}

.flex-item {
  align-self: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

// ===========

.content-container {
  text-align: justify;
}

.highlighted {
  position: relative;
  z-index: 9999;

  &::after {
    position: absolute;
    z-index: -1;
    top: 65%;
    right: -10px;
    left: -10px;

    height: 15px;

    content: '';

    background-color: $red;
  }
}
.redlight {
  background-color: $red;
}

.header_title {
  font-size: 3.5em;

  margin: 0 0 20px;

  text-align: center;
  letter-spacing: 2px;

  .highlighted {
    font-size: .7em;
  }
}

button.link {
  font-family: $saira;
  font-size: 1.4em;

  display: inline-block;

  padding: 0;

  text-decoration: none;
  letter-spacing: 2px;

  color: $white;
  border: none;
  background: none;

  &:hover {
    &::after {
      top: -5px;

      height: 37px;
    }
  }
}

.page {
  display: none;
}
