#credits-content {
  left: 200%;

  .content-container {
    width: 575px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: justify;
  }

  .names {
    font-size: .5rem;
  }

  .logos {
    text-align: center;
  }
  .logo {
    height: 50px;
    padding: 0 10px;
  }
  .names {
    text-align: center;
  }
}
