.flex {
  display: flex;

  min-height: 100vh;

  justify-content: center;
}

.content,
.header {
  width: 600px;
  margin: 0 auto;
}

.header_title {
  font-size: 3.5em;

  margin: 0;
  margin-bottom: 100px;

  text-align: center;
  letter-spacing: 2px;

  .highlighted {
    font-size: .7em;
  }
}

.content {
  font-size: 1.4em;

  text-align: center;

  p {
    text-align: justify;
  }
}

.link {
  display: inline-block;

  margin: 0 auto;
  margin-top: 100px;
}
