#map-content {
  left: 200%;

  .map-visualisation {
    position: relative;

    width: 1200px;
    height: 800px;

    user-select: none;

    .select-container {
      position: absolute;
      top: 520px;
      left: 110px;

      .select-input {
        width: 240px;
      }
    }
  }

  .map-form {
    .form-title {
      font-size: 16px;
      font-weight: 500;

      position: absolute;
      top: 100px;
      left: 100px;

      width: 250px;

      user-select: none;
    }

    .form-sex {
      position: absolute;
      top: 200px;
      left: 100px;

      user-select: none;
      svg {
        height: 80px;
      }
    }

    .form-age {
      font-family: $saira;
      font-size: 26px;
      font-weight: 500;

      position: absolute;
      top: 350px;
      left: 110px;
      p {
        display: inline-block;

        user-select: none;
      }
    }
  }

  .map-svg {
    position: absolute;
    top: 45%;
    left: 50%;

    width: 600px;

    user-select: none;
    transform: translateX(-50%) translateY(-50%);
  }

  .city-svg {
    position: absolute;

    width: 20px;

    cursor: pointer;
    user-select: none;
    transform: translateX(-50%) translateY(-50%);

    &.rennes {
      top: 265px;
      left: 450px;
    }
    &.nantes {
      top: 325px;
      left: 460px;
    }
    &.paris {
      top: 220px;
      left: 630px;
    }
    &.lille {
      top: 95px;
      left: 645px;
    }
    &.strasbourg {
      top: 230px;
      left: 865px;
    }
    &.bordeaux {
      top: 470px;
      left: 490px;
    }
    &.montpellier {
      top: 570px;
      left: 705px;
    }
    &.marseille {
      top: 585px;
      left: 775px;
    }
    &.nice {
      top: 550px;
      left: 860px;
    }
    &.lyon {
      top: 430px;
      left: 755px;
    }
    &.toulouse {
      top: 555px;
      left: 585px;
    }
  }

  .timeline {
    position: absolute;
    bottom: 50px;
    left: 50%;

    width: 900px;

    transform: translateX(-50%);
  }
}
