#result {
  .content-container {
    margin-top: 50px;
  }

  .title {
    font-family: $barlow;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 145%;

    text-transform: uppercase;
  }
  .title-container {
    width: 300px;
  }


  .right {
    width: 500px;
    padding: 20px;
  }
  .left {
    width: 500px;
    padding: 20px;
  }
}
