#result-content {
  left: 200%;

  .title {
    font-family: $barlow;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 145%;

    text-transform: uppercase;

    span {
      line-height: .5em;
    }
  }

  .content-container {
    margin-top: 50px;
  }

  .title {
    font-family: $barlow;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 145%;

    text-transform: uppercase;
  }

  .title-container {
    width: 300px;
  }

  .right,
  .left {
    width: 500px;
    padding: 20px;
  }
}
