
.title {
  font-family: $barlow;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 145%;

  text-transform: uppercase;

  span {
    line-height: .5em;
  }

  .cache1,
  .cache2,
  .cache3,
  .cache4 {
    position: absolute;

    width: 500px;
    height: 10px;

    background-color: blue;
  }
  .cache1 {
    top: -9px;
  }
  .cache2 {
    top: 42px;

    height: 6px;
  }
  .cache3 {
    top: 88px;

    height: 6px;
  }
  .cache4 {
    top: 133px;

    height: 15px;
  }
}
.title-container {
  width: 300px;
}


.right {
  width: 500px;
  padding: 20px;
}

.left {
  width: 500px;
  padding: 20px;
}
