#search-content {
  left: 200%;

  .title-container {
    width: 400px;
    padding: 20px;
  }

  .page-title {
    text-align: left;
    span {
      line-height: 1.3em;

      margin-left: 10px;
    }

    p {
      font-size: 1.6em;
      line-height: .9em;

      margin-top: 80px;
      margin-bottom: 0;
    }
  }

  .content-container {
    position: relative;

    width: 600px;
    height: 600px;
    padding: 20px;
  }

  .present {
    font-size: 1.3em;
    line-height: 1.3em;

    text-align: justify;
  }

  .form-data {
    margin-right: 10px;
  }

  .form-sex,
  .form-city {
    align-self: flex-start;
  }

  .age {
    margin-bottom: 60px;
  }

  .input-container {
    font-weight: 500;
  }

  .button {
    position: absolute;
    bottom: 45px;
  }
}
